{% extends 'home_layout.html' %}
{% block content%}
{% for recipe in recipes %}

<div class="content">
  <div class="grid">
    <figure class="effect-winston">
      <img src="{{ url_for('static', filename='images/' + '26.jpg') }}" alt="img11"/>
      <figcaption>
        <!-- <p class="">{{ recipe.author.username }}</p> -->
        <h2><span>{{ recipe.title }}</span></h2>
        <p>
          <a href="#"><i class="fa fa-fw fa-star-o"></i></a>
          <a href="#"><i class="fa fa-fw fa-edit"></i></a>
          <a href="#"><i class="fa fa-fw fa-trash-o"></i></a>
        </p>
      </figcaption>			
    </figure>
  </div>
</div>


{% endfor %}
{% endblock content %}


