{% extends 'home_layout.html' %}
{% block content%}
{% for recipe in recipes %}

<div class="content">
  <div class="grid">
    <figure class="effect-milo">
      <img src="{{ url_for('static', filename='images/' + '26.jpg') }}" alt="img11"/>
      <figcaption>
        <h2 class="recipe_title">{{ recipe.title }}</h2>
        <p>{{ recipe.author.username }}</p>
        <a href="#">View more</a>
          <a href="#"><i class="fas fa-edt"></i></a>
          <a href="#"><i class="fas fa-trash-alt"></i></a>
          <a href="#"><i class="fas fa-heart"></i></a>
      </figcaption>			
    </figure>
  </div>
</div>

{% endfor %}
{% endblock content %}
