{% extends 'layout.html' %}
{% block content%}

<h1>Dodaj zdjęcie do przepisu</h1>
<br>

<div class="col">
  <form action="/upload_image" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <input type="file" class="custom-file-input" name="image" id="image">
        <label for="image" class="custom-file-label">Wybierz plik z dysku:</label>
      </div>
      <button type="submit" class="btn btn-outline-info">Zapisz zdjęcie</button>
  </form>
</div>
  


{% endblock %}