{% extends 'layout.html' %}
{% block content%}

<h1>Dodaj zdjęcie do przepisu</h1>
<br>

<div class="container col">
  <form action="/recipe/new/upload_image" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <input type="file" class="custom-file-input" name="image" id="image" oninput="filesize(this);">
      <label for="image" class="custom-file-label">Wybierz plik z dysku:</label>
      <small class="text-muted">Plik z rozszerzeniem: .jpg, .jpeg, .gif lub .png, o maksymalnej wielkości 524 kb</small>
    </div>
    <button type="submit" class="btn btn-outline-info">Zapisz zdjęcie</button>
  </form>
  <div class="container mt-3">

    <div class="row">
      <div class="col">
        <picture>
          <source class="img-fluid" srcset="/static/images/recipes/{{dir}}/{{img}}-thumbnail.png"
            media="(max-width: 150px)">
          <source class="img-fluid" srcset="/static/images/recipes/{{dir}}/{{img}}-540.png" media="(max-width: 540px)">
          <source class="img-fluid" srcset="/static/images/recipes/{{dir}}/{{img}}-768.png" media="(max-width: 768px)">
          <source class="img-fluid" srcset="/static/images/recipes/{{dir}}/{{img}}-1000.png"
            media="(max-width: 1000px)">
          <source class="img-fluid" srcset="/static/images/recipes/{{dir}}/{{img}}-1200.png"
            media="(max-width: 1200px)">
          <img class="img-fluid" src="/static/images/recipes/{{dir}}/{{img}}.jpg" alt="Photo of recipe">
        </picture>
      </div>
    </div>
  </div>
</div>



{% endblock %}

{% block script %}
<script>

  function filesize(elem) {
    document.cookie = `filesize=${elem.files[0].size}`
  }

</script>


{% endblock %}